<% include partials/header %>
<section id="header" class="jumbotron">
    <div class="container">
        <h1>Add a new Book</h1>
    </div>
    
</section>
<section class="container">
    <form action="/books" method="POST">
        <input type="text" name="bookTitle" placeholder="Book title">
        <input type="text" name="author" placeholder="Book Author">
        <input type="text" name="image" placeholder="Image URL">
        <button>Submit</button>
    </form>
</section>
<a href="/books">Back</a>
<% include partials/footer %>
